/* -------------- Index.js ----------------- */

.entry-list-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Optional: Center the content horizontally */
}

.entry-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed: space-between, space-evenly, etc. */
}
